<%- include('partials/header'); -%>

    <form>

        <h2>Log in</h2>

        <label for="email">Email</label>
        <input type="text" value="ira@google.com" name="email" required />
        <div class="email error"></div>

        <label for="password">Password</label>
        <input type="password" value="dariko" name="password" required />
        <div class="password error"></div>

        <button>Log in</button>

        <p style="margin-top: 10px ;">Not registered yet? <a href="/register" style="color: brown;">Register</a></p>

    </form>

    <script>
        const form = document.querySelector("form");
        const emailError = document.querySelector(".email.error")
        const passwordError = document.querySelector(".password.error")


        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            // reset errors
            emailError.textContent = "";          //clear error message above the input after success
            passwordError.textContent = "";


            //get the values
            const email = form.email.value;
            const password = form.password.value;

            try {
                const res = await fetch("/login", {
                    method: "POST",
                    body: JSON.stringify({ email, password }),
                    headers: { "Content-Type": "application/json" }
                });
                const data = await res.json();
                console.log(data);
                if (data.errors) {
                    emailError.textContent = data.errors.email;          //error message above the input
                    passwordError.textContent = data.errors.password;
                }
                if (data.user) {
                    localStorage.setItem("userId", data.user);
                    location.assign("/dashboard")     //relocation to the dashboard page after log in
                }
            }
            catch (err) {
                console.log(err);
            }


        })
    </script>
    <%- include('partials/footer'); -%>